.company-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .company-item {
    width: 45%; 
  
  }

.company-logo{
    width: 15%;
  }


.company-name{
    color:black;
    font-size: 1.3em;
}

.homepage-title{
    font-size: 2em;
    margin-bottom: 3em;
}

.bar {
  background-color: #e0e0e0; 
  height: 2px; 
  width: 50%; 
  margin: 6em auto;
}
  
 