.Navbar {
    width: 100%;
    top: 0;
    background-color: rgb(129, 129, 255);
    color: white;
    padding-left: 30px;
    padding: 20px;
}

.Navbar a {
    text-decoration: none;
    color: white;
}