#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

nav {
  background-color: #b8dbff;
  color: rgb(80, 80, 80);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  padding: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  padding: 1rem;
}

ul, li {
  list-style: none;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 2rem; 
  padding: 2rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  background: #e7e7e7;
  border: 1px solid #ffee52;
  box-shadow: 0 2px 5px rgba(219, 219, 219, 0.1);
  border-radius: 10px;
  padding: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

ul img {
  margin-top: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
