:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 100vw; /* Evita que la página sea más pequeña que la ventana */
  overflow-x: hidden; /* Asegura que no haya scroll horizontal en la página completa */
}

h1 {
  font-size: 32px;
  line-height: 1.1;
  margin: 48px 0px;
}

.navbar{
  background-color: #535bf2;
  width: 100vw;
  height: 64px;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
  background-color: #535bf2;
  padding: 16px;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
}

.companyCard img{
  width: 80px;
}

.companyCardLogo img {
  width: 120px;
}

.techCard img{
  width: 48px; /* Tamaño fijo para las imágenes */
  height: auto;
}

.companyCard, .companyCardLogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px; 
  height: 300px;
  box-sizing: border-box; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  background-color: #fff; 
}




.companyCard:hover, .techCard:hover {
  transform: translateY(-10px); 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
}


.techCard {
  flex: 0 0 150px; /* Fija el ancho de cada tarjeta */
  height: 150px; /* Altura fija de las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  background-color: #fff; 
}



.companyList{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  max-width: 650px; 
  margin: 0 auto; 
}

h4{
  margin-top: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 16px; 
  box-sizing: border-box;
  text-align: center;
}

h2 {
  width: 100%; 
  text-align: center; 
}

.techStackContainer {
  display: flex;
  gap: 32px;
  margin: 96px 32px;
  overflow-x: auto; /* Scroll horizontal */
  overflow-y: hidden; /* Oculta el scroll vertical */
  padding-bottom: 10px; 
  max-width: 100%; /* Asegura que no exceda el ancho de la página */
  justify-content: flex-start; /* Alinea las tarjetas al principio del contenedor */
  scroll-behavior: smooth; /* Scroll suave al desplazarse */
}

header {
  width: 100%; 
  max-width: 1200px; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 96px;
  margin-bottom: 32px; 