#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 2rem 2rem 2rem;
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  background-color: rgb(226, 169, 226);
  padding: 20px;
  font-size: 20px;
  display: flex;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.lista-bottom{
  display: flex;
  list-style: none;
  overflow-x: auto;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.lista-bottom li {
  display: inline-block;
  min-width: 200px;
  margin-right: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.list {
  padding: 2em;
  
}

.list ul {
  list-style: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  border: 2px solid black;
  padding: 30px;
  box-sizing: border-box;
  width: 40%;
}

.card p {
  color: black;
}

.read-the-docs {
  color: #888;
}
