#root {
  max-width: 90vw;
  min-height: 90vh;
  margin: 0 ;
  text-align: center;
}

.App {
  height: 100vh;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em lightseagreen);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#pages {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

#company-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0 2rem;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#home-page a{
  border-radius: 10px;
  border: 2px grey solid;
  width: 20%;
  display: flex;
  align-items: center;
}

#home-page img{
  width: 60%;
  height: auto;
  padding: 20%;
}

.company-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
  width: 50%;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.company-card img{
  width: 20%;
  height: auto;
  padding: 5%;
}

.company-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 50%;
}

.tech-stack{
  margin: 20px;
  width: 700px;

  display: flex;
  flex-direction: row;
  gap: 100px;

  overflow-y: hidden;
  overflow-x: auto;
}

.tech-stack::-webkit-scrollbar {
  width: 1px;
}

.tech-stack::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.tech-stack::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d55959;
}

.tech-stack a{
  border-radius: 10px;
  /* border: 1px solid black; */
  padding: 20px;
  width: 200px;
  height: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tech-stack a img{
  height: 40px;
}