* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  width: 100%;
}

.homepage h1,
.companies h1,
.technologies h1 {
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.homepage .company-card img {
  width: 80px;
}

.homepage .company-card {
  padding: 5% 16% 5% 16%;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: black;
}

.homepage .company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-logo,
.tech-logo {
  width: 80px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.company-desc {
  text-align: center;
}

.companies h2,
.companies h3 {
  text-align: center;
}

.company-return-link {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black;
}

.tech-card {
  text-decoration: none;
  color: black;
}