nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #3182ce;
  height: 10vh;
  z-index: 50;
  text-align: left;
  padding-left: 30px;
}

nav h2 {
  line-height: 2em;
  font-weight: 400;
  color: white;
}

.HomePage {
  position: relative;
  top: 10vh;
  text-align: center;
  font-size: 0.7em;
  padding: 3vh 0;
}

.CompanyPage {
  position: relative;
  top: 10vh;
  text-align: center;
  font-size: 0.7em;
  padding: 3vh 0;
}

.TechnologyPage {
  position: relative;
  top: 10vh;
  text-align: center;
  font-size: 0.7em;
  padding: 3vh 0;
}

.HomePage-CompagnieList {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 10vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.HomePage-CompagnieBox {
  width: 40vh;
  height: 40vh;
  background-color: #BBE2EC;
  text-align: center;
  margin: 40px;
  border-radius: 20px;
  box-shadow: 4px 4px 3px rgb(128, 128, 128);
}

.HomePage-CompagnieBox:hover {
  background-color: #a7c5cc;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.HomePage-CompagnieBox h3{
  padding: 22px 0 0 0;
  color: black;
}


.HomePage-CompagnieBoxImg {
  margin: auto;
  width: 28vh;
  height: 28vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomePage-CompagnieBox img{
  max-width: 100%;
  max-height: 100%;
}

.CompanyPage-Main {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
}

.CompanyPage-Presentation {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.CompanyPage-Presentation-ImgBox {
  width: 40%;
  text-align: center;
}

.CompanyPage-Presentation-ImgBox img {
  max-width: 30vh;
  max-height: 30vh;
  margin: 8vh;
}

.CompanyPage-Presentation-TxtBox {
  width: 40%;
  text-align: center;
  
  padding-top: 5vh;
}

.CompanyPage-Presentation-TxtBoxP {
  margin: auto;
  width: 80%;
}

.CompanyPage-TechList {
  width: 90%;
  height: 25vh;
  margin: 30px auto 0 auto;
  display: flex;
  align-self: flex-end;
  overflow-x: auto;
}

.CompanyPage-TechListBox {
  min-width: 140px;
  height: 100%;
  text-align: center;
  margin: 0 30px;
}

.CompanyPage-TechListBoxImg {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CompanyPage-TechListBoxImg img{
  max-width: 80%;
  max-height: 80%;
}

.CompanyPage-TechListBox h3{
  margin: 0;
}

.TechnologyPage-Main {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
}

.TechnologyPage-Presentation {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.TechnologyPage-Presentation-ImgBox {
  width: 40%;
  text-align: center;
}

.TechnologyPage-Presentation-ImgBox img {
  max-width: 30vh;
  max-height: 30vh;
  margin: 8vh;
}

.TechnologyPage-Presentation-TxtBox {
  width: 40%;
  text-align: center;
  
  padding-top: 5vh;
}

.TechnologyPage-Presentation-TxtBoxP {
  margin: auto;
  width: 80%;
}