#root {

  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.Navbar {
  display: flex;
  justify-content: center;
  background-color: #535bf2;
  color: white ;
  width: 100%;
  top: 0 px;
  /*transform translate: (-50%, -50%);*/
    padding-left: 20px;
}
.Navbar a{
  color: white;
}

.homepage-companyimage {
  width: 150px;
  height: 150px;
  object-fit: contain;
  padding: 40px;
  box-shadow: 2px 2px 5px rgb(167, 167, 167);
  
}

.Company-List {
  display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
    margin: 0 auto;
    justify-content: center;
    gap: 50px;
}


.companyname {
  margin: 10px;

}

.company-profile-list{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 60px;
  gap: 50px;
  justify-content: center;
  align-items: center;
  }

.company-about{
  width: 30%;
}


.company-about-img{
  width: 250px;
  height: 250px;
  object-fit: contain;
  padding: 40px;
  box-shadow: 2px 2px 5px rgb(167, 167, 167);

}


.tech-list{
  height: 350px;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  gap: 30px;
  overflow-x: scroll;
  max-width: 90%;

}

.tech-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 40px;
  box-shadow: 2px 2px 5px rgb(167, 167, 167);
}

.technology-details {
  display: flex;
  flex-direction: row;
  gap: 90px;
  justify-content: center;
  padding-top: 50px;
  align-items: start;
  flex-wrap: wrap;
  
}

.technology-details-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding: 40px;
  box-shadow: 2px 2px 5px rgb(167, 167, 167);
}

.technology-details-description {
  width: 30%;
}
