#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
nav {
  background-color: #656cff;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
}

#nav-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-size: 20px;
  margin-top: 70px;
}


.company-link > img  {
  width: 50px
}
.company-image {
  width: 80px;
}

.company-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.home-page-link {
  border: 1px solid rgb(181, 178, 178);
  border-radius: 20px;
  width: 350px;
  height: 250px;
  margin: 20px 50px;
  box-shadow: 2px 2px 2px rgb(181, 178, 178);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.tech-item img{
  width: 50px;
}
.company-page-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.company-name {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.company-description {
  width: 500px;
}

.tech-stack-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  margin-top: 30px;
  gap: 10px;
}

.tech-card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(181, 178, 178);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(181, 178, 178);
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
  height: 100px;
  padding: 10px;
  gap: 10px;
}

.tech-image {
  height: 50px;
}

.tech-page-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tech-page-list > h2 {
  font-weight: bold;
}

.tech-description {
  width: 500px;
}