body{
  margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
}
nav{
  background-color: #656DFF;
  color: white;
  text-align: left;
  font-size: 1.5em;
}

.homePage{
  margin: 0 auto;
}
.companyDivs{
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0% auto;
  flex-wrap: wrap;
 
}

.companyDiv{
  width: 300px;
  height: 280px;
  border: solid;
  border-radius: 5px;
  margin: 50px;
}
.companyDiv a{
  color: black;
  text-decoration: none;
}
.companyProfile{
  margin: 0 auto;
}
.companyPageDiv{
  display: flex;
  margin: 5% 0;
  justify-content: center;
}

.logoPicture{
  width: 200px;
  height: 200px;
  margin-right: 60px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: #b0b3b5 1px 1px 8px;
  
}

.description{
  font-size: 20px;
  width: 600px;
}


.swiper-wrapper{
  display: flex;
  margin: 50px 0;
}

.techDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  box-shadow: #838586 1px 1px 8px;
}
.techDiv a{
  color: black;
  text-decoration: none;
}
.techPictures{
  width:100px;
}

.techPageDiv{
  display: flex;
  margin: 5% 0;
  justify-content: center;
}